In [1]:
# Basic Eexercise of Fucntion.
# I think you have to start coding in pycharm or visual studio.

In [16]:
# Question 1 - Write a program using function  to find greatest of three numbers ..

# Solution:



def maximum(num1,num2,num3):
    if (num1>num2):
        if (num1>num3):
            return num1
        else:
            return num3
    else:
        if(num2>num3):
            return num2
        else:
            return num3

In [20]:
maximum(12,17,15)

17

In [21]:
# Question 2  - Write a python program usning fucntion to convert celcius to fahrenheit.

def farh(cel):
    return (cel*(9/5))+32

In [23]:
farh(37)

98.60000000000001

In [25]:
#Question 3-How do you prevent a python print() Funtion to print a new line at the end.

#Solution

print("Saurav")
print("Gaurav")
print("Riya")
print("Yahsu")

Saurav
Gaurav
Riya
Yahsu

In [31]:
#Lets How its print., what we can do if we have to print in same line ..
#see..

print("Saurav",end=" ")
print("Gaurav",end=" ")
print("Riya",end=" ")
print("Yahsu",end=" ")

Saurav Gaurav Riya Yahsu

In [53]:
# Question 4 -Write a python fucntion to print first n lines of the following pattern.
# ***
# **
# *         if n=3

def pattern(n):
    for i in range(n):
        print("*" * (n-i))

In [54]:
pattern(3)

***
**
*

In [55]:
# Question 5 - Write a python fucntion which converts inches into cm.

#Solution- 

def convert(inch):
    return (inch * 2.54)

In [57]:
convert(2)

5.08

In [58]:
#Question 6- Write a python fucntion to remove a given word from a string and strip it at the same time.
#Lets See what is strip 

this="         Saurav is a boy        "

#What we can do if we have to remove all the spaces from "this" variable.

this.strip()

'Saurav is a boy'

In [60]:
#Now Solve the Question.

def remove_split(string,word):
    newstr=string.replace(word, "")
    return newstr.strip()
this="    Saurav is a good boy     "
remove_split(this,"Saurav")


#I also dont uderstand

'is a good boy'

In [61]:
#Question 6- Write a python function to print the multiplication table of a given number.


#Solution.

def table(num):
    for i in range(1,11):
        print(num * i)

In [62]:
table(5)

5
10
15
20
25
30
35
40
45
50

In [ ]:
#Student of Data science
#Student of DataTrained - Saurav

# Data- 23 june 2022